<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="io.github.jlongyam.preview" version="1.0.0">
  <name>Preview</name>
  <description>HTML Preview</description>
  <author/>
  <access origin=""/>
  <content src="index.html"/>
  <allow-navigation href="*"/>
  <platform name="ios"></platform>
  <platform name="android"></platform>
</widget>
